{% comment %}
  Header Logo Component
  Professional logo rendering with responsive sizing
{% endcomment %}

{% liquid
  assign logo_width = logo_width | default: 180
  assign logo_2x = logo_width | times: 2
%}

{% if section.settings.logo %}
  <a href="{{ routes.root_url }}" class="header__logo">
    <img src="{{ section.settings.logo | image_url: width: logo_2x }}"
         alt="{{ shop.name | escape }}"
         width="{{ logo_width }}"
         height="{{ section.settings.logo.height | divided_by: section.settings.logo.width | times: logo_width | round }}"
         loading="eager"
         sizes="(max-width: 749px) {{ section.settings.logo_width_mobile | default: 120 }}px, {{ logo_width }}px"
         srcset="{{ section.settings.logo | image_url: width: logo_width }} {{ logo_width }}w,
                 {{ section.settings.logo | image_url: width: logo_2x }} {{ logo_2x }}w">
  </a>
{% else %}
  <a href="{{ routes.root_url }}" class="header__logo">
    <h1 class="header__logo-text">{{ shop.name }}</h1>
  </a>
{% endif %}