{% comment %}
  Mega Menu Implementation for Dawn Theme
  
  Usage:
  - Set a menu item to have a submenu using the Shopify menu editor
  - For featured collections and images, add metafields to the menu items
  - Use the theme settings to control mega menu appearance
{% endcomment %}

<div class="mega-menu-container" data-menu-drawer-item="{{ link.title | escape }}">
  <div class="mega-menu">
    <div class="mega-menu-content">
      {% if link.links.size > 0 %}
        <div class="mega-menu-column mega-menu-links">
          <div class="mega-menu-column-title">{{ link.title }}</div>
          <ul class="mega-menu-list">
            {% for child_link in link.links %}
              <li>
                <a href="{{ child_link.url }}" class="mega-menu-link">
                  {{ child_link.title | escape }}
                </a>
                {% if child_link.links.size > 0 %}
                  <ul class="mega-submenu-list">
                    {% for grandchild_link in child_link.links %}
                      <li>
                        <a href="{{ grandchild_link.url }}" class="mega-submenu-link">
                          {{ grandchild_link.title | escape }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      {% comment %}
        Featured collection section
        To add a featured collection, add metafield to menu item:
        - namespace: menu.item
        - key: featured_collection
        - value: handle of the collection
      {% endcomment %}
      {% if link.metafields.menu.item.featured_collection %}
        {% assign featured_collection = collections[link.metafields.menu.item.featured_collection] %}
        {% if featured_collection != blank %}
          <div class="mega-menu-column mega-menu-featured">
            <div class="mega-menu-column-title">Featured Products</div>
            <div class="mega-menu-featured-products">
              {% for product in featured_collection.products limit: 3 %}
                <a href="{{ product.url }}" class="mega-menu-product">
                  <div class="mega-menu-product-image">
                    <img src="{{ product.featured_image | image_url: width: 200, height: 200, crop: 'center' }}" 
                         width="200" 
                         height="200" 
                         alt="{{ product.title | escape }}">
                  </div>
                  <div class="mega-menu-product-info">
                    <div class="mega-menu-product-title">{{ product.title }}</div>
                    <div class="mega-menu-product-price">{{ product.price | money }}</div>
                  </div>
                </a>
              {% endfor %}
            </div>
            <a href="{{ featured_collection.url }}" class="mega-menu-view-all">View All {{ featured_collection.title }}</a>
          </div>
        {% endif %}
      {% endif %}
      
      {% comment %}
        Featured image/promotion section
        To add a featured image, add metafields to menu item:
        - namespace: menu.item
        - key: featured_image
        - value: image URL
        - key: featured_url
        - value: URL to link to
      {% endcomment %}
      {% if link.metafields.menu.item.featured_image %}
        <div class="mega-menu-column mega-menu-promotion">
          <a href="{{ link.metafields.menu.item.featured_url | default: link.url }}" class="mega-menu-promo-image">
            {% comment %}
              Store featured images as theme assets and reference them by filename
              in metafields for optimal performance. This ensures all images use
              the Shopify CDN.
              
              Example metafield value: 'mega-menu-promo-1.jpg' 
              (where the image is stored in the theme assets folder)
            {% endcomment %}
            
            <img src="{{ link.metafields.menu.item.featured_image | asset_url }}" 
                 width="300" 
                 height="300" 
                 loading="lazy"
                 alt="{{ link.title | escape }}">
            {% if link.metafields.menu.item.featured_text %}
              <div class="mega-menu-promo-text">
                {{ link.metafields.menu.item.featured_text }}
              </div>
            {% endif %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>